*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:linear-gradient(135deg,#0B3DDB,#2457ff);
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.payment-page{
width:100%;
display:flex;
align-items:center;
justify-content:center;
padding:20px;
}

.payment-card{
width:420px;
background:white;
border-radius:22px;
padding:35px;
text-align:center;
box-shadow:0 20px 45px rgba(0,0,0,0.25);
}

.pay-logo{
width:100px;
margin-bottom:20px;
}

.payment-card h1{
font-size:30px;
color:#111;
margin-bottom:10px;
}

.sub-text{
color:#666;
font-size:15px;
margin-bottom:25px;
}

.amount-box{
background:#f2f6ff;
padding:22px;
border-radius:16px;
margin-bottom:20px;
border:1px solid #dce6ff;
}

.amount-box p{
color:#666;
font-size:15px;
}

.amount-box h2{
font-size:42px;
color:#0B3DDB;
margin-top:8px;
}

.secure-box{
background:#eefaf4;
color:#0a7a2f;
padding:15px;
border-radius:14px;
font-weight:bold;
margin-bottom:25px;
line-height:1.6;
}

.pay-btn{
width:100%;
background:#ff003c;
color:white;
border:none;
padding:16px;
border-radius:12px;
font-size:20px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.pay-btn:hover{
background:#d90032;
transform:translateY(-2px);
}

.back-link{
display:inline-block;
margin-top:18px;
text-decoration:none;
color:#0B3DDB;
font-weight:bold;
}

@media(max-width:480px){
.payment-card{
width:100%;
padding:25px;
}

.payment-card h1{
font-size:24px;
}

.amount-box h2{
font-size:34px;
}
}