{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{{ category.name }}</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

<h2 class="all-title">{{ category.name }}</h2>

<div class="all-products">

{% for product in products %}

<div class="product">

<img src="{{ product.image.url }}" alt="{{ product.name }}">

<h5>{{ product.name }}</h5>

<p>₹{{ product.price }}</p>

<a href="{% url 'product_details' product.slug %}">
<button>View Details</button>
</a>

<a href="{% url 'add_to_cart' product.id %}">
<button>Add to Cart</button>
</a>

</div>

{% empty %}

<h2>No products in this category</h2>

{% endfor %}

</div>

</body>
</html>