{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Payment</title>
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
</head>
<body>

<div class="payment-page">

<div class="payment-card">

<img src="{% static 'images/shopzy.png' %}" class="pay-logo">

<h1>Complete Your Payment</h1>
<p class="sub-text">Secure prepaid payment for your Shopzy order</p>

<div class="amount-box">
<p>Total Amount</p>
<h2>₹ {{ total }}</h2>
</div>

<div class="secure-box">
<p>🔒 100% Secure Payment</p>
<p>UPI • Card • Net Banking • Wallet</p>
</div>

<button id="pay-btn" class="pay-btn">
Pay Now
</button>

<a href="{% url 'cart' %}" class="back-link">Back to Cart</a>

</div>

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "order_id": "{{ payment.id }}",
    "name": "Shopzy Online",
    "description": "Order Payment",

    "handler": function (response){
        window.location.href = "{% url 'payment' %}";
    },

    "theme": {
        "color": "#0B3DDB"
    }
};

var rzp = new Razorpay(options);

document.getElementById("pay-btn").onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>

</body>
</html>