{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>

</head>
<body>


<link rel="stylesheet" href="{% static 'css/pro_details.css' %}">

<div class="details-page">

<div class="left-images">

{% for img in product.images.all %}
<img src="{{ img.image.url }}" onclick="changeImage(this.src)">
{% endfor %}

</div>

<div class="main-image">
<img id="mainProductImage" src="{{ product.image.url }}">
</div>

<div class="product-info">

<h1>{{ product.name }}</h1>

<div class="price-row">
<h2>₹ {{ product.price }}</h2>

{% if product.offer_price %}
<span class="old-price">₹ {{ product.offer_price }}</span>
{% endif %}

<span class="discount">21%</span>
</div>

<a href="{% url 'add_to_cart' product.id %}">
<button class="buy-btn">Add to Cart</button>
</a>

<hr>

<p class="description">
{{ product.description|linebreaks }}
</p>

</div>

</div>

<div class="reviews">
<h2>Reviews and Ratings</h2>
<div class="stars">★★★★★</div>
<h3>No Customer Reviews</h3>
<p>Share your thoughts with other customers</p>
<button>Write A Review</button>
</div>

<script>
function changeImage(src){
    document.getElementById("mainProductImage").src = src;
}
</script>

</body>
</html>