{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Verify OTP</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-page">
<div class="login-box">

<img src="{% static 'images/shopzy.png' %}" class="login-logo">

<h2>Verify OTP</h2>
<p>Enter the 6 digit code sent to your email</p>

<form method="POST">
{% csrf_token %}

<div class="otp-inputs">
<input type="text" name="otp1" maxlength="1" required>
<input type="text" name="otp2" maxlength="1" required>
<input type="text" name="otp3" maxlength="1" required>
<input type="text" name="otp4" maxlength="1" required>
<input type="text" name="otp5" maxlength="1" required>
<input type="text" name="otp6" maxlength="1" required>
</div>

<button type="submit">Verify OTP</button>
</form>

</div>
</div>

<script>
const inputs = document.querySelectorAll(".otp-inputs input");

inputs.forEach((input, index) => {
input.addEventListener("input", () => {
if(input.value.length === 1 && index < inputs.length - 1){
inputs[index + 1].focus();
}
});
});
</script>

</body>
</html>