.product{
background:white;
padding:15px;
border-radius:15px;
text-align:center;
box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.product-buttons{
display:flex;
flex-direction:column;
gap:10px;
margin-top:15px;
}

.product-buttons a{
text-decoration:none;
}

.product-buttons button{
width:100%;
padding:12px;
border:none;
border-radius:8px;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

.details-btn{
background:#fff;
border:2px solid #0B3DDB !important;
color:#0B3DDB;
}

.cart-btn{
background:#0B3DDB;
color:white;
}

.details-btn:hover{
background:#0B3DDB;
color:white;
}

.cart-btn:hover{
background:#072ca8;
}